<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

    <!-- SEO -->
    <title>CLIENT.Project</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- STYLESHEETS -->
    {{#block "styles"}}
        <!-- build:css assets/styles/head.css?v=@@version -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <link rel="stylesheet" media="screen, projection" href="assets/styles/modern.css?v=@@version" />
        <!--[if lte IE 8]><link rel="stylesheet" media="screen, projection" href="assets/styles/legacy.css?v=@@version" /><![endif]-->
        <link rel="stylesheet" media="print" href="assets/styles/print.css?v=@@version" />
    {{/block}}

    <!-- POLYFILLS -->
    {{#block "scriptsHead"}}
        <!-- build:js assets/scripts/head.js?v=@@version -->
        <script src="assets/vendor/modernizr/modernizr.js?v=@@version"></script>
        <!-- endbuild -->
    {{/block}}
</head>
<body>
    <!-- CONTENT -->
    {{#block "body"}}
    {{/block}}

    <!-- JAVASCRIPT -->
    {{#block "scriptsBody"}}
        <script src="assets/vendor/requirejs/require.js?v=@@version"></script>
        <script src="assets/scripts/config.js?v=@@version"></script>
        <script>
            /**
             * Global constants
             *
             * TODO: ideally these values would be filled in from the server side
             *
             * @class SETTINGS
             * @static
             */
            window.SETTINGS = {};

            /**
             * Indicates whether we are running on a production environment
             *
             * @property IS_PRODUCTION
             * @type Boolean
             * @final
             */
            SETTINGS.IS_PRODUCTION = false;

            /**
             * Appended to query string for versioning of network resources (CSS,
             * JavaScript, etc). This version number should be updated in production
             * for every release.
             *
             * @property APP_VERSION
             * @type {String}
             * @final
             */
            SETTINGS.APP_VERSION = '@@version';

             /**
             * Set to true to allow application to output to browser console, false
             * to silence all console output. This should be set to `false` on
             * production.
             *
             * @property LOG_CONSOLE
             * @type Boolean
             * @final
             */
            SETTINGS.LOG_CONSOLE = !SETTINGS.IS_PRODUCTION;

            /**
             * Appended to query string to defeat caching of network resources (CSS,
             * JavaScript, etc). Should be set to '' on production
             *
             * @property CACHE_BUSTER
             * @type String
             * @final
             */
            SETTINGS.CACHE_BUSTER = SETTINGS.IS_PRODUCTION ? '' : '&bust=' + Math.random();

            /**
             * Root path for all JavaScript files
             *
             * @property SCRIPT_PATH
             * @type String
             * @final
             */
            SETTINGS.SCRIPT_PATH = 'assets/scripts/';

            /**
             * Set any RequireJs configuration that is dependent on dynamic
             * configuration variables. Note that this config data is merged into
             * any other require.config() statements defined elsewhere.
             */
            require.config({
                // Script path
                baseUrl: SETTINGS.SCRIPT_PATH,

                // Params to append to the end of each js file request
                urlArgs: 'v=' + SETTINGS.APP_VERSION + SETTINGS.CACHE_BUSTER
            });

            /**
             * Set route and kick off RequireJs, which begins loading of scripts
             * starting from main.js.
             */
            require(['main']);
        </script>
    {{/block}}
</body>
</html>
